body{
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 0;
    background: linear-gradient(0deg, #000, #272727);
    /*background-color: white;*/
}
form{
    margin: auto;
    background-color: rgb(228, 242, 255);
    border-radius: 8px;
    box-shadow: 0 4px rgba(0,0,0,0.5);
    max-width: 600px;
    padding: 20px;
}
h1{
    text-align: center;
    color: white;
}
fieldset{
    border: 2px solid skyblue;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}
legend{
    font-weight: bold;
    text-align: left;
    color: rgb(34, 29, 29);
}
label{
    display: block;
    text-align: left;
    color: black;
}
input ,textarea{
    margin-top: 4px;
    padding: 8px;
    width: calc(100% - 1px);
    border-radius: 4px;
    border: 1px solid skyblue;
    box-sizing: border-box;
}
p{
    margin-left: 8px;
}
button{
    display: block;
    width: 100%;
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    margin-top: 10px;
    /*margin-left: 167px; 
    margin-bottom: -2px;*/
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    cursor: pointer;
}
button:hover{
    color: blue;
}
#resume-display{
    text-align: center;
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: azure;
    border: 2px solid skyblue;
    /*border-radius: rgba(228, 242, 255);*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    background-color: rgba(228, 242, 255);
    /*making the resume editable*/
    outline: none;
}
#resume-display h2{
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
#shareable-link-container{
    text-align: center;
}
h2{
    text-decoration: underline;
    color: yellowgreen;
}
#download-pdf{
    display: block;
    width: 230px;
    height: 50px;
    margin-left: 540px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);  
    background-color: rgb(12, 66, 48);
    color: rgb(248, 228, 228);
}
#download-pdf :hover{
    color: red;
}
